body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 0;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-between;
}

article {
    display: flex;
    flex-basis: 200px;
}