* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F2F3D9;
    color: #030027;
}

.h1 {
    margin-left: 40px;
    margin-right: 40px;
    color: #191a33;
}

.header {
    background-color: #030027;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
}

.analytica {
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
}

.nav {
    margin-right: 40px;
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav li a {
    color: white;
    text-decoration: none;
}

.section {
    text-align: center;
    padding: 20px 40px 0 40px;
}

.section-heading {
    margin-top: 5px;
    color: #030027;
}

.features {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    gap: 40px;
}

.feature-container {
    display: flex;
    flex-direction: column;
    background-color: #C16E70;
    padding-bottom: 15px;
    max-width: 280px;
    min-height: 350px;
    color: #151E3F;
    border-radius: 5px;
    flex-shrink: 1;
    align-content: flex-end;
}

.item1 {
    min-height: 350px;
    display: flex;
    align-items: flex-end
}

.item2 {
    min-height: 350px;
    display: flex;
    align-items: flex-end
}

.item3 {
    min-height: 350px;
    display: flex;
    align-items: flex-end
}